.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color:rgb(17, 17, 72);

  .logo {
    color:white;
    font-weight: bold;
  }

  .search-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .search-field {
    width: 50%;
    min-width: 200px;
    max-width: 500px;
    background-color:rgb(32 32 79);
   
    input{
        color: #fff;
    }
  }

  input::placeholder {
    color: #fff;
    opacity: 1;
    }

  mat-icon{
    color: #fff;
  }
}
