 
    <mat-nav-list>
        <a mat-list-item href="#">
        <mat-icon style="color:white">apps</mat-icon>
        <span>App Launcher</span>
      </a>
      <a mat-list-item href ="#">
        <mat-icon style="color:white">video_call></mat-icon>
        <span>video_call</span>
      </a>
      <a mat-list-item href="#"style="width:70px">
        <mat-icon style="color:white">call</mat-icon>
        <span>Call</span>
      </a>

      <a mat-list-item href="#" style="width:70px">
        <mat-icon style="color:white">calendar_today</mat-icon>
        <span>Calendar</span>
      </a>
      <a mat-list-item href="#" style="width:70px">
        <mat-icon style="color:white">settings</mat-icon>
        <span>settings</span>
      </a>

      

    </mat-nav-list>
  
